<a href="https://colab.research.google.com/github/bmt21421/bmt_python/blob/main/21421_9%EC%A3%BC%EC%B0%A8%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [7]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [9]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [10]:
type(s)

pandas.core.series.Series

In [15]:
pd.date_range('20210430', periods=6)

DatetimeIndex(['2021-04-30', '2021-05-01', '2021-05-02', '2021-05-03',
               '2021-05-04', '2021-05-05'],
              dtype='datetime64[ns]', freq='D')

In [16]:
dates = pd.date_range('20210421', periods= 6)

In [17]:
dates

DatetimeIndex(['2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26'],
              dtype='datetime64[ns]', freq='D')

In [18]:
df =  pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))

In [19]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [30]:
df2 = pd.DataFrame(
    {
        'A':1.,
        'B':pd.Timestamp('20210430'),
        'C':pd.Series(1, index=list(range(4)), dtype='float32'),
        'D':np.array([3]*4, dtype='int32'),
        'E':pd.Categorical(['test','train','test','train']),
        'F':'foo'
    }
)

In [31]:
df2

     A          B    C  D      E    F
0  1.0 2021-04-30  1.0  3   test  foo
1  1.0 2021-04-30  1.0  3  train  foo
2  1.0 2021-04-30  1.0  3   test  foo
3  1.0 2021-04-30  1.0  3  train  foo

In [32]:
type(df2)

pandas.core.frame.DataFrame

In [33]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [34]:
dates

DatetimeIndex(['2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26'],
              dtype='datetime64[ns]', freq='D')

In [35]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [38]:
df.head(3)

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707

In [40]:
df.tail(2)

                   A         B         C         D
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [41]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [42]:
df.index

DatetimeIndex(['2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26'],
              dtype='datetime64[ns]', freq='D')

In [43]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [44]:
df.values

array([[-1.03684745e-01, -9.45815839e-02,  1.00395684e+00,
        -1.85107106e+00],
       [-1.17006789e-01, -5.49107661e-01, -1.30063957e+00,
         1.51535868e+00],
       [ 1.31617568e+00,  2.51691766e-01, -1.26839332e-01,
        -2.47069133e-02],
       [ 1.04523490e+00,  1.66591440e-01, -4.49800729e-01,
         2.43125712e+00],
       [-5.25325023e-02, -2.58547091e+00, -3.92638035e-01,
         3.51720157e-01],
       [ 4.75895822e-01,  8.24661854e-01,  3.61383831e-01,
         2.55232466e-04]])

In [45]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [46]:
df.T

   2021-04-21  2021-04-22  2021-04-23  2021-04-24  2021-04-25  2021-04-26
A   -0.103685   -0.117007    1.316176    1.045235   -0.052533    0.475896
B   -0.094582   -0.549108    0.251692    0.166591   -2.585471    0.824662
C    1.003957   -1.300640   -0.126839   -0.449801   -0.392638    0.361384
D   -1.851071    1.515359   -0.024707    2.431257    0.351720    0.000255

In [47]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [48]:
df.sort_index(axis=0, ascending=True)

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [49]:
df.sort_index(axis=0, ascending=False)

                   A         B         C         D
2021-04-26  0.475896  0.824662  0.361384  0.000255
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071

In [50]:
df.sort_index(axis=1, ascending=True)

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [51]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2021-04-21 -1.851071  1.003957 -0.094582 -0.103685
2021-04-22  1.515359 -1.300640 -0.549108 -0.117007
2021-04-23 -0.024707 -0.126839  0.251692  1.316176
2021-04-24  2.431257 -0.449801  0.166591  1.045235
2021-04-25  0.351720 -0.392638 -2.585471 -0.052533
2021-04-26  0.000255  0.361384  0.824662  0.475896

In [52]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [53]:
df.sort_values(by='B')

                   A         B         C         D
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [54]:
dates

DatetimeIndex(['2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26'],
              dtype='datetime64[ns]', freq='D')

In [55]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [58]:
df['C']

2021-04-21    1.003957
2021-04-22   -1.300640
2021-04-23   -0.126839
2021-04-24   -0.449801
2021-04-25   -0.392638
2021-04-26    0.361384
Freq: D, Name: C, dtype: float64

In [64]:
df[ ['A','B','D'] ]

                   A         B         D
2021-04-21 -0.103685 -0.094582 -1.851071
2021-04-22 -0.117007 -0.549108  1.515359
2021-04-23  1.316176  0.251692 -0.024707
2021-04-24  1.045235  0.166591  2.431257
2021-04-25 -0.052533 -2.585471  0.351720
2021-04-26  0.475896  0.824662  0.000255

In [65]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [68]:
df[0:1]

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071

In [71]:
df['20210421':'20210421']

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071

In [72]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [73]:
df.loc[dates[0]]

A   -0.103685
B   -0.094582
C    1.003957
D   -1.851071
Name: 2021-04-21 00:00:00, dtype: float64

In [76]:
df.loc['20210421']

A   -0.103685
B   -0.094582
C    1.003957
D   -1.851071
Name: 2021-04-21 00:00:00, dtype: float64

In [87]:
df.loc[dates[0]

SyntaxError: ignored

In [80]:
#df.loc[행,열]
#행 => :
df.loc[:,'A']

2021-04-21   -0.103685
2021-04-22   -0.117007
2021-04-23    1.316176
2021-04-24    1.045235
2021-04-25   -0.052533
2021-04-26    0.475896
Freq: D, Name: A, dtype: float64

In [83]:
df.loc['20210421':'20210423','A']

2021-04-21   -0.103685
2021-04-22   -0.117007
2021-04-23    1.316176
Freq: D, Name: A, dtype: float64

In [84]:
df.loc['20210421':'20210423',['A','B','C']]

                   A         B         C
2021-04-21 -0.103685 -0.094582  1.003957
2021-04-22 -0.117007 -0.549108 -1.300640
2021-04-23  1.316176  0.251692 -0.126839

In [91]:
df.at[dates[0],'A']

-0.10368474545665297

In [99]:
df.iloc[0:3,1:3]

                   B         C
2021-04-21 -0.094582  1.003957
2021-04-22 -0.549108 -1.300640
2021-04-23  0.251692 -0.126839

In [90]:
df.loc[dates[3]]

A    1.045235
B    0.166591
C   -0.449801
D    2.431257
Name: 2021-04-24 00:00:00, dtype: float64

In [94]:
df.index

DatetimeIndex(['2021-04-21', '2021-04-22', '2021-04-23', '2021-04-24',
               '2021-04-25', '2021-04-26'],
              dtype='datetime64[ns]', freq='D')

In [100]:
df

                   A         B         C         D
2021-04-21 -0.103685 -0.094582  1.003957 -1.851071
2021-04-22 -0.117007 -0.549108 -1.300640  1.515359
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-25 -0.052533 -2.585471 -0.392638  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [101]:
df.A

2021-04-21   -0.103685
2021-04-22   -0.117007
2021-04-23    1.316176
2021-04-24    1.045235
2021-04-25   -0.052533
2021-04-26    0.475896
Freq: D, Name: A, dtype: float64

In [107]:
df.A >0

2021-04-21    False
2021-04-22    False
2021-04-23     True
2021-04-24     True
2021-04-25    False
2021-04-26     True
Freq: D, Name: A, dtype: bool

In [108]:
df[df.A > 0]

                   A         B         C         D
2021-04-23  1.316176  0.251692 -0.126839 -0.024707
2021-04-24  1.045235  0.166591 -0.449801  2.431257
2021-04-26  0.475896  0.824662  0.361384  0.000255

In [109]:
df>0

                A      B      C      D
2021-04-21  False  False   True  False
2021-04-22  False  False  False   True
2021-04-23   True   True  False  False
2021-04-24   True   True  False   True
2021-04-25  False  False  False   True
2021-04-26   True   True   True   True

In [110]:
df[df>0]

                   A         B         C         D
2021-04-21       NaN       NaN  1.003957       NaN
2021-04-22       NaN       NaN       NaN  1.515359
2021-04-23  1.316176  0.251692       NaN       NaN
2021-04-24  1.045235  0.166591       NaN  2.431257
2021-04-25       NaN       NaN       NaN  0.351720
2021-04-26  0.475896  0.824662  0.361384  0.000255