<a href="https://colab.research.google.com/github/bmt21421/bmt_python/blob/main/21421_10%EC%A3%BC%EC%B0%A8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
row = pd.date_range('20210507', periods=6)
col = list('ABCD')
df = pd.DataFrame(np.random.randn(6,4), index=row , columns=col)

In [3]:
df

                   A         B         C         D
2021-05-07  0.053903  0.536347  1.388153  0.190154
2021-05-08  0.207624  0.899004 -0.947930 -0.218565
2021-05-09 -0.297875  0.936882 -0.649958  0.477900
2021-05-10 -0.710866 -1.390608 -0.281649 -0.481681
2021-05-11 -0.905034 -0.831188 -0.756783 -0.633017
2021-05-12  0.757400 -0.182261 -0.342317  0.271800

In [4]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20210507', periods=6))

In [5]:
df['F'] = s1

In [6]:
df

                   A         B         C         D  F
2021-05-07  0.053903  0.536347  1.388153  0.190154  1
2021-05-08  0.207624  0.899004 -0.947930 -0.218565  2
2021-05-09 -0.297875  0.936882 -0.649958  0.477900  3
2021-05-10 -0.710866 -1.390608 -0.281649 -0.481681  4
2021-05-11 -0.905034 -0.831188 -0.756783 -0.633017  5
2021-05-12  0.757400 -0.182261 -0.342317  0.271800  6

In [7]:
df>0

                A      B      C      D     F
2021-05-07   True   True   True   True  True
2021-05-08   True   True  False  False  True
2021-05-09  False   True  False   True  True
2021-05-10  False  False  False  False  True
2021-05-11  False  False  False  False  True
2021-05-12   True  False  False   True  True

In [8]:
df[df>0]

                   A         B         C         D  F
2021-05-07  0.053903  0.536347  1.388153  0.190154  1
2021-05-08  0.207624  0.899004       NaN       NaN  2
2021-05-09       NaN  0.936882       NaN  0.477900  3
2021-05-10       NaN       NaN       NaN       NaN  4
2021-05-11       NaN       NaN       NaN       NaN  5
2021-05-12  0.757400       NaN       NaN  0.271800  6

In [9]:
df2 = df.copy()

In [10]:
df2[df2>0] = -df

In [11]:
df2

                   A         B         C         D  F
2021-05-07 -0.053903 -0.536347 -1.388153 -0.190154 -1
2021-05-08 -0.207624 -0.899004 -0.947930 -0.218565 -2
2021-05-09 -0.297875 -0.936882 -0.649958 -0.477900 -3
2021-05-10 -0.710866 -1.390608 -0.281649 -0.481681 -4
2021-05-11 -0.905034 -0.831188 -0.756783 -0.633017 -5
2021-05-12 -0.757400 -0.182261 -0.342317 -0.271800 -6

In [12]:
df

                   A         B         C         D  F
2021-05-07  0.053903  0.536347  1.388153  0.190154  1
2021-05-08  0.207624  0.899004 -0.947930 -0.218565  2
2021-05-09 -0.297875  0.936882 -0.649958  0.477900  3
2021-05-10 -0.710866 -1.390608 -0.281649 -0.481681  4
2021-05-11 -0.905034 -0.831188 -0.756783 -0.633017  5
2021-05-12  0.757400 -0.182261 -0.342317  0.271800  6

In [13]:
df.mean()

A   -0.149141
B   -0.005304
C   -0.265081
D   -0.065568
F    3.500000
dtype: float64

In [14]:
df.mean(1)

2021-05-07    0.633712
2021-05-08    0.388027
2021-05-09    0.693390
2021-05-10    0.227039
2021-05-11    0.374796
2021-05-12    1.300924
Freq: D, dtype: float64

In [15]:

df.apply(np.cumsum)

                   A         B         C         D   F
2021-05-07  0.053903  0.536347  1.388153  0.190154   1
2021-05-08  0.261528  1.435351  0.440223 -0.028410   3
2021-05-09 -0.036348  2.372233 -0.209735  0.449490   6
2021-05-10 -0.747213  0.981624 -0.491384 -0.032191  10
2021-05-11 -1.652248  0.150437 -1.248167 -0.665208  15
2021-05-12 -0.894848 -0.031825 -1.590485 -0.393408  21

In [16]:
df.apply(np.cumsum,axis=1)

                   A         B         C         D         F
2021-05-07  0.053903  0.590251  1.978403  2.168558  3.168558
2021-05-08  0.207624  1.106628  0.158698 -0.059867  1.940133
2021-05-09 -0.297875  0.639006 -0.010951  0.466949  3.466949
2021-05-10 -0.710866 -2.101474 -2.383124 -2.864804  1.135196
2021-05-11 -0.905034 -1.736222 -2.493005 -3.126022  1.873978
2021-05-12  0.757400  0.575139  0.232821  0.504622  6.504622

In [17]:
lambda df: df.max()- df.min()

In [18]:
df.apply(lambda x:x.max()- x.min(),axis=1)

2021-05-07    1.334249
2021-05-08    2.947930
2021-05-09    3.649958
2021-05-10    5.390608
2021-05-11    5.905034
2021-05-12    6.342317
Freq: D, dtype: float64

In [19]:
df.A.max(), df.A.min()

(0.7573998019117631, -0.9050343860405573)

In [20]:
df

                   A         B         C         D  F
2021-05-07  0.053903  0.536347  1.388153  0.190154  1
2021-05-08  0.207624  0.899004 -0.947930 -0.218565  2
2021-05-09 -0.297875  0.936882 -0.649958  0.477900  3
2021-05-10 -0.710866 -1.390608 -0.281649 -0.481681  4
2021-05-11 -0.905034 -0.831188 -0.756783 -0.633017  5
2021-05-12  0.757400 -0.182261 -0.342317  0.271800  6

In [21]:
s = pd.Series(np.random.randint(1, 7, size = 1000000))
s.value_counts()

4    167151
5    167143
1    166706
2    166617
6    166511
3    165872
dtype: int64

In [22]:
df = pd.DataFrame(np.random.randn(10,4))

In [23]:
df

          0         1         2         3
0 -1.851415  2.611178 -0.939867 -1.410108
1 -0.129667  0.406578  1.460636 -1.164472
2  0.488278 -0.562628  0.589896 -1.298376
3  0.736406 -1.056638  0.149374  0.217027
4  2.425014  0.276070  1.833285  0.389350
5 -0.108816  1.049240  1.821255 -0.148248
6 -0.312819  0.726879  0.049426 -1.034834
7 -1.766477  0.589824 -0.108160 -2.443610
8 -0.499082  0.596026  0.258062  0.172462
9  2.771553  0.219883 -1.478794  1.114417

In [24]:
pieces=[df[:3], df[3:7],df[7:]]
pieces

[          0         1         2         3
 0 -1.851415  2.611178 -0.939867 -1.410108
 1 -0.129667  0.406578  1.460636 -1.164472
 2  0.488278 -0.562628  0.589896 -1.298376,
           0         1         2         3
 3  0.736406 -1.056638  0.149374  0.217027
 4  2.425014  0.276070  1.833285  0.389350
 5 -0.108816  1.049240  1.821255 -0.148248
 6 -0.312819  0.726879  0.049426 -1.034834,
           0         1         2         3
 7 -1.766477  0.589824 -0.108160 -2.443610
 8 -0.499082  0.596026  0.258062  0.172462
 9  2.771553  0.219883 -1.478794  1.114417]

In [25]:
pd.concat(pieces)

          0         1         2         3
0 -1.851415  2.611178 -0.939867 -1.410108
1 -0.129667  0.406578  1.460636 -1.164472
2  0.488278 -0.562628  0.589896 -1.298376
3  0.736406 -1.056638  0.149374  0.217027
4  2.425014  0.276070  1.833285  0.389350
5 -0.108816  1.049240  1.821255 -0.148248
6 -0.312819  0.726879  0.049426 -1.034834
7 -1.766477  0.589824 -0.108160 -2.443610
8 -0.499082  0.596026  0.258062  0.172462
9  2.771553  0.219883 -1.478794  1.114417

In [26]:
left = pd.DataFrame(
    {
        'a':['foo', 'foo'], 
        'lval': [1, 2]
     }
)
right = pd.DataFrame({'a':['foo', 'foo'], 'rval': [4, 5]})

In [27]:
left

     a  lval
0  foo     1
1  foo     2

In [28]:
right

     a  rval
0  foo     4
1  foo     5

In [29]:
pd.merge(left, right, on = 'a')

     a  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

In [30]:
df = pd.DataFrame(
    {
        'A' : ['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar'],
        'B' : ['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'],
        'C' : np.random.randn(8),
        'D' : np.random.randn(8)
    }
)

In [31]:
df

     A      B         C         D
0  foo    one  0.126519  0.390283
1  bar    one  0.813431  0.360147
2  foo    two  0.148591  0.086141
3  bar  three  0.913830 -1.737170
4  foo    two -0.133743 -0.739310
5  bar    two -0.250846  0.285887
6  foo    one  0.568491 -0.022048
7  bar  three -0.366326  0.117201

In [33]:
a= df.groupby('B').sum()
a

              C         D
B
one    1.508441  0.728382
three  0.547504 -1.619969
two   -0.235999 -0.367283

In [40]:
a=df.groupby(['A','B']).sum()
a

                  C         D
A   B
bar one    0.813431  0.360147
    three  0.547504 -1.619969
    two   -0.250846  0.285887
foo one    0.695010  0.368235
    two    0.014848 -0.653170

In [34]:
x = [1,2,3]
y=[4,5,6]
zipped =zip(x,y)
list(zipped)

[(1, 4), (2, 5), (3, 6)]

In [35]:
x2,y2 = zip(*zip(x,y))

In [36]:
x2

(1, 2, 3)

In [37]:
y2

(4, 5, 6)

In [41]:
df = pd.DataFrame(
    {
        'A' : ['one', 'one', 'two', 'three'] * 3,
        'B' : ['A', 'B', 'C'] * 4,
        'C' : ['foo', 'foo', 'foo', 'bar', 'bar', 'bar' ] * 2,
        'D' : np.random.randn(12),
        'E' : np.random.randn(12)
    }
)

In [42]:
df

        A  B    C         D         E
0     one  A  foo -0.402947  0.065017
1     one  B  foo -0.521854 -0.735369
2     two  C  foo  0.365509 -1.968834
3   three  A  bar  0.271908  0.720075
4     one  B  bar -0.781864  2.391807
5     one  C  bar  1.102261 -0.589164
6     two  A  foo  0.617824 -2.242784
7   three  B  foo -1.707179 -1.746126
8     one  C  foo -1.826388 -0.482571
9     one  A  bar  2.805063  1.131104
10    two  B  bar -1.938810  2.068210
11  three  C  bar  0.615298  0.698116

In [43]:
pd.pivot_table(df, values='D',index=['A','B'], columns=['C'])

C             bar       foo
A     B
one   A  2.805063 -0.402947
      B -0.781864 -0.521854
      C  1.102261 -1.826388
three A  0.271908       NaN
      B       NaN -1.707179
      C  0.615298       NaN
two   A       NaN  0.617824
      B -1.938810       NaN
      C       NaN  0.365509